@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<FunApp.Services.Models.Jokes.JokeSimpleViewModel>
@{
}

<div class="container-fluid">
    <div class="row">
        <br />
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="col-md-4 clearfix">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p asp-controller="Jokes" asp-action="Details" asp-route-id="@Model[i].Id" class="card-text">
                            <br/>@Model[i].Content
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Html.PagedListPager(Model,page => Url.Action("Details", "Categories", new {page}))