@model  List<FunApp.Services.Models.Categories.CategoryIdAndNameViewModel>
@{
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Categories</h3>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@Model[i].Id">"@Model[i].Name</a>
            }
        </div>
    </div>
</div>